.container {
  padding: 20px;
}

.title {
  text-align: center;
  color: #333;
}

/* Search Bar */
.search-container {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.search-bar, .date-filter {
  padding: 8px;
  /* border: 1px solid #ddd; */
  border-radius: 5px;
}

/* Order Table */
.container .order-table {
  width: 102%;
  border-collapse: collapse;
  margin-top: 20px;
}

.order-table th, .order-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: left;
}

.order-table th {
  background-color: #4CAF50;
  color: white;
}

/* Item Count Button */
.item-count-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.item-count-btn:hover {
  background-color: #0056b3;
}

/* Popup Styling */
.popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.popup-content {
  background: rgb(255, 255, 255);
  padding: 20px;
  border-radius: 10px;
  width: 60%;
  max-width: 600px;
  text-align: center;
}

.product-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

.product-table th, .product-table td {
  border: 1px solid #ddd;
  padding: 10px;
  text-align: center;
}

.product-table th {
  background: #232222;
}

.popup-product-image {
  width: 50px;
  height: 50px;
  object-fit: cover;
  border-radius: 5px;
}

.close-btn {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  margin-top: 10px;
  cursor: pointer;
  border-radius: 5px;
}

.close-btn:hover {
  background-color: darkred;
}
